.page-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    background-color: #166f25;
}

.page-footer {
    background-color: #166f25;
    color: #ccc;
    padding: 2em;
    text-align: center;
}

.fa {
    padding: 5px;
    font-size: 50px;
    width: 30%;
    text-align: center;
    text-decoration: none;
}

h2 {
    padding-left: 1em;
}
.container-md {
    padding-top: 7em;
}

.navbar {
    background: #333;
    font-size: 1.7em;
    padding-left: 1em;
}

/*div#invisible-header {
    width: 100%;
    visibility: hidden;
}*/

img {
    padding-right: 7em;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    text-align: justify;
    padding: .5em;
    font-size: 1.5em;
}

p.aboutme {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    text-align: justify;
    padding: 1em;
}

.form {
    margin: 2em;
    width: 50%;
    border: 2px solid black;
    padding: 2em;
    font-size: 1em;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    margin-bottom: .25em;
    padding: .25em;
    font-size: 1.25em;
}

input[type="submit"] {
    font-size: 1.25em;
}

@media screen and (max-width: 600px) {
    form {
        width: 91%;
        float: left;
        margin: 2em 0 0 2em;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 1em;
    }

    .form {
        margin: 2em;
        width: 80%;
        border: 2px solid black;
        padding: 2em;
    }
}